@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: 'Archivo-Black';
  src: url('/fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Afacad';
  src: url('/fonts/Afacad-VariableFont_wght.ttf') format('truetype');
}



@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --primary-color-blue: #39576C;
  --primary-color-offwhite: #FFFCF7;
  --primary-color-orange: #CE4B1D;
  --primary-color-beige: #F2E3D0;
  --primary-color-lightblue: #DAE6EB;

  /*Typografi */
  --font-main: 'Archivo-Black', monospace;
  --font-sub: 'Afacad', sans-serif;
}
/* Typografi */
.Titel {
  font-family: var(--font-main);
}
.H1 {
  font-family: var(--font-main);
}
.H2 {
  font-family: var(--font-sub);
}
.H3 {
  font-family: var(--font-sub);
}
.H4 {
  font-family: var(--font-main);
}
.Brødtekst {
  font-family: var(--font-sub);
}




.Titel-mobil {
  font-family: var(--font-main);
}
.H1-mobil {
  font-family: var(--font-main);
}
.H2-mobil {
  font-family: var(--font-sub);
}
.H3-mobil {
  font-family: var(--font-sub);
}
.H4-mobil {
  font-family: var(--font-main);
}
.Brødtekst-mobil {
  font-family: var(--font-sub);
}

/* Farver */

.color-primary-blue {
  color: var(--primary-color-blue);
}
.color-primary-offwhite {
  color: var(--primary-color-offwhite);
}
.color-primary-orange {
  color: var(--primary-color-orange);
}
.color-primary-beige {
  color: var(--primary-color-beige);
}
.color-primary-lightblue {
  color: var(--primary-color-lightblue);
}

.bg-primary-offwhite {
  background-color: var(--primary-color-offwhite);
}


@layer base {

}

@layer components{

}

@layer utilities{
  
}