---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Infomode from "../components/Infomode.astro";
import Rejserne from "../components/Rejserne.astro";
import Socials from "../components/Socials.astro";
import Trustpilot from "../components/Trustpilot.astro";
import Button from "../components/Button.astro";
import Intro from "../components/Intro.astro";
import "../styles/tailwind.css";
import Baeredygtig from "../components/Baeredygtig.astro";
---

<MainLayout title="Titel">
	<main class="container mx-auto">
		<Hero />
		<Intro />
		<Rejserne />
		<Infomode />
		<Baeredygtig />
		<Trustpilot />
		<Socials />
		<FAQ />
	</main>
</MainLayout>
