---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<header class="bg-[var(--primary-color-offwhite)]">
    <div id="navbar" class="container mx-auto p-4 flex flex-row justify-between items-center">
        <!-- LOGO -->
        <div id="logo" class="flex items-center gap-2">
            <img src="/images/d_logo.svg" alt="HÖJSKOLENDK logo" class="h-10 w-auto" />
        </div>

        <div class="flex items-center gap-4">
            <!-- Knapper (kun desktop) -->
            <div class="hidden lg:flex gap-4">
                <button class="bg-[var(--primary-color-orange)] text-[var(--primary-color-offwhite)] px-4 py-2 rounded-full font-medium uppercase text-sm transition"> TILMELD INFOMØDE </button>
                <button class="border bg-[var(--primary-color-orange)] border-[var(--primary-color-orange)] text-[var(--primary-color-offwhite)] px-4 py-2 rounded-full font-medium uppercase text-sm transition"> BOOK HER </button>
            </div>

            <!-- Burgermenu (kun mobil) -->
            <button id="burgermenu" class="block">
                <img src="/images/burger_menu.svg" alt="Menu" />
            </button>
        </div>
    </div>
</header>
