---
import Text from "../components/Text.astro";
---

<Text teksttype="h2" stylingclasses="pb-1 px-8 pt-8">TILMELD DIG ET INFOMØDE</Text>
<section class="md:grid md:grid-cols-3 gap-8 px-8 pb-16">
    <div class="flex justify-center items-center min-h-screen bg-offwhite">
        <div class="bg-orange-700 rounded-[40px] p-12 text-orange-100 w-80 h-[572px] flex flex-col items-start gap-4">
            <h1 class="text-8xl font-medium uppercase leading-none justify-center items-center">KPH</h1>
            <p class="text-4xl font-bold tracking-widest mt-4">18/11/2025</p>
            <p class="text-sm leading-4">Købmagergade 52,1150 København K</p>
            <p class="text-lg leading-6">Drømmer du om et eventyr fyldt med natur, kultur og højskolefællesskab? Kom med til et af vores infomøder! Vi afholder vores infomøder på Studenterhuset i København kl. 17.00-19.00.</p>
            <button class="bg-orange-100 text-orange-700 rounded-[40px] px-6 py-2 text-2xl font-medium uppercase mt-auto hover:bg-orange-200 transition"> TILMELD </button>
        </div>
    </div>
    <div class="flex justify-center items-center min-h-screen bg-offwhite">
        <div class="bg-orange-700 rounded-[40px] p-12 text-orange-100 w-80 h-[572px] flex flex-col items-start gap-4">
            <h1 class="text-8xl font-medium uppercase leading-none justify-center items-center">ÅRH</h1>
            <p class="text-4xl font-bold tracking-widest mt-4">06/11/2025</p>
            <p class="text-sm leading-4">Vestergade 49B – 8000 Aarhus</p>
            <p class="text-lg leading-6">Drømmer du om et eventyr fyldt med natur, kultur og højskolefællesskab? Kom med til et af vores infomøder! Vi afholder vores infomøder på LYNfabrikken i Århus kl. 17.00-19.00.</p>
            <button class="bg-orange-100 text-orange-700 rounded-[40px] px-6 py-2 text-2xl font-medium uppercase mt-auto hover:bg-orange-200 transition"> TILMELD </button>
        </div>
    </div>
    <div class="flex justify-center items-center min-h-screen bg-offwhite">
        <div class="bg-orange-700 rounded-[40px] p-12 text-orange-100 w-80 h-[572px]
        
        
        
        
        
        
        
        flex flex-col items-start gap-4">
            <h1 class="text-8xl font-medium uppercase leading-none justify-center items-center">ONL</h1>
            <p class="text-4xl font-bold tracking-widest mt-4">12/11/2025</p>
            <p class="text-4xl font-bold tracking-widest">10/12/2025</p>

            <p class="text-lg leading-6">Drømmer du om et eventyr fyldt med natur, kultur og højskolefællesskab? Kom med til et af vores infomøder! Vi afholder desuden også online så du kan hoppe med fra sofaen.</p>
            <button class="bg-orange-100 text-orange-700 rounded-[40px] px-6 py-2 text-2xl font-medium uppercase mt-auto hover:bg-orange-200 transition"> TILMELD </button>
        </div>
    </div>
</section>
