---
import Text from "../components/Text.astro";
---

<section>
    <Text teksttype="h2" stylingclasses="pb-2">Tilmeld dig infomøde</Text>
    <div class="w-80 h-[572px] bg-orange-700 rounded-[40px]"></div>
</section>
